<!-- ko with: home -->
<div class="row">
    <div class="col-md-12">
        <h1>MonTieKar</h1>
        <p class="lead">Classe tes critères : </p>
        <p><button class="btn btn-primary btn-lg">Afficher</button></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="map" style="height:500px;"></div>
    </div>
</div>
<!-- /ko -->
