<!-- ko with: home -->
<div class="row">
    <div class="col-md-12">
        <h1>
            <img src="~/Content/logo.png" height="128" />Mon Quartier préféré</h1>
        <p class="lead"> </p>
    </div>
</div>
<div class="row" data-bind="foreach: Filters">
    <div class="col-md-4">
        <img data-bind="attr: {src: 'Content/'+Name()+'.png' }" height="25" />
        <b style="text-transform: capitalize;" data-bind="text: Name"></b>
        <select data-bind="value: Operator">
            <option value="lt">&lt;</option>
            <option value="eq">&equals;</option>
            <option value="gt">&gt;</option>
        </select>
        <input type="number" data-bind="value: Score" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary btn-lg" data-bind="click: GetData">C'est parti!</button>
        <img src="~/Content/cube.gif" id="loader" style="display:none;height:45px;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div id="map" style="height:500px;"></div>
    </div>
</div>
<!-- /ko -->
